.btn-tip{
    border-radius: 100%;
    width: 2em;
    height: 2em;
    font-weight: bold;
}

.organize-btn{
    display: flex;
    flex-direction: row;
    gap: 11em;
}

.btn-difficult{
    border-radius: 6px;
    margin: 3em 0 3em 0;
    width: 5em;
    height: 3em;
}

.input-box{
    margin-bottom: 1em;
    display: none;
}

.gap-title{
    font-size: 3em;
    margin-bottom: 1em;
}

.number-input{
    font-size: 1.2em;
    margin-left: 1.5em;
}

.number-input,input{
    width: 9em;
}


.btn-start{
    border-radius: 6px;
    width: 8em;
    height: 5em;
    margin-top: 1em;
}
